* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: rgb(33, 37, 41);
    background-color: rgb(33, 37, 41);
    line-height: 1.5;
    font-size: 16px;
}

.hero {
    background-color: rgb(66, 70, 73);
    color:white;
}

.list-group-item:hover {
    color: white;
    background-color: rgb(52, 58, 64, .5);
    cursor: pointer;
}

#time-forecast {
    font-size: 16px;
}

#current-weather-container {
    color: black;
}
